<div
  *ngIf="pokemonDetails; else noDetails"
  class="pokedex-visor pokedex-sidebar"
>
  <img
    class="pokemon-img"
    [src]="pokemonDetails.sprites.front_default"
    [alt]="pokemonDetails.name"
    (error)="handleMissingImage($event)"
  />
  <h2>{{ pokemonDetails.name | titlecase | splitBy : "-" }}</h2>
  <h3>Types:</h3>
  <ul>
    <li *ngFor="let type of pokemonDetails.types">
      {{ type.type.name | titlecase }}
    </li>
  </ul>
  <h3>Stats:</h3>
  <ul>
    <li *ngFor="let stat of pokemonDetails.stats">
      {{ stat.stat.name | titlecase | splitBy : "-" }}: {{ stat.base_stat }}
    </li>
  </ul>
</div>
<ng-template #noDetails>
  <div class="pokedex-visor no-details">
    <h1>{{ message }}</h1>
    <img src="./assets/images/pokeball.png" alt="pokeball" />
  </div>
</ng-template>
