.pokedex-main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow-y: hidden;
  border-right: 1px solid black;
  .pokedex-table {
    overflow-y: auto;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 6px 6px 6px 6px rgba(255, 0, 0, 0.7);
  }
}

.mat-mdc-row:hover .mat-mdc-cell {
  background: rgb(255, 228, 228);
}
.mat-column-details {
  width: 100px;
}
.mat-header-cell {
  background-color: red;
}
