<div class="pokedex-container">
  <div *ngIf="status === 'loading'" class="loading">
    <img src="./assets/images/pokeball-color.jpg" />
  </div>
  <div *ngIf="status === 'error'" class="error">
    <img src="./assets/images/error.png" />
    <h2>There was an error loading the pokemons, please try again later</h2>
  </div>
  <app-pokedex
    *ngIf="status === 'success'"
    [pokemons]="pokemons"
    (detailsClicked)="openPokemonDetails($event)"
  ></app-pokedex>
  <app-visor
    [pokemonDetails]="pokemonDetails"
    [message]="detailsMessage"
  ></app-visor>
</div>
<app-count-table
  *ngIf="status === 'success'"
  [pokemons]="pokemons"
></app-count-table>
<app-footer></app-footer>
